:root{
  --background: #1e1e1e;
  --foreground: #d4d4d4;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

canvas{
  width: 100vw;
  height: 100vh;
}
